* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header {
    display: inline-block;
    width: 100%;
    align-items: center;
    background-color: rgb(59, 198, 96);
    color: white;
    padding: 20px;
    margin: 0;

}

h1 {
    text-align: center;
}

.header ul {
    text-align: center;
    margin-top: 7px;

}

.menu li {
    display: inline-block;
    padding: 5px 10px;
}

.menu li a:hover {
    background-color: rgb(141, 233, 233);
    color: rgb(118, 117, 121);
}

.main {
    display: flex;
    background-color: white;
    gap: 18px;
    margin-bottom: 15px;
}

.menu-left {
    display: inline-block;
    background-color: rgb(211, 210, 210);
    border: 1px solid rgb(185, 184, 184);
    width: 300px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;

}

.menu-left ul {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 14px;
}

.intro {
    background-color: white;
    display: inline-block;
    width: 100%;
    margin-right: 15px;

}

h3 {
    margin-bottom: 15px;
    margin-top: 20px;
}

.intro img {
    width: 300px;

}

.intro p {
    margin-top: 15px;
}

hr {

    margin-top: 20px;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: rgb(233, 237, 233);

}

.footer {
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    padding: 15px;
}